.box-sideBar{
    position: absolute;
    /* margin-left: -88px; */
    left: 0;
    top: 52px;
    width: 150px;
    height: 123vh;
    background: #F88F14;
}

@media screen and (max-width: 845px){
    .box-sideBar{
        top: 102px;
       
    }
}
@media screen and (max-width: 845px){
    .box-sideBar{
        position: relative;
        margin: 0;
        padding: 0;
        height: auto;
        top: 0;
        display: block;
    }
}