.button_page{
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 16px;
}
.button_page button{
    padding: 5px 10px;
    border: 0;
    background: white;
    font-size: 15px;
}

.active{
    background-color: blue!important;
}