.Header{
    margin: -38px -90px;
    margin-bottom: 20px;
    background-color: #3939acbf;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}



@media screen and (max-width: 768px){
    .Header{
        flex-wrap: wrap;
    }
    .Header div{
        width: 100%;
    }
}

